@import "tailwindcss";




@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95) translateY(10px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}
/* 🔥 Thin Scrollbar (Global) */
::-webkit-scrollbar {
  width: 6px;
  height: 6px; /* horizontal */
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #334155; /* gray-700 */
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569; /* gray-600 */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #334155 transparent;
}
/* thin scrollbar */
.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}